body {
    font-family: "Georgia", "STIX Two Math";
    font-size: 20px;
}

.title {
    font-family: "Snell Roundhand", "STIX Two Text";
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}
.recipe {
    display: inline-block;
    list-style: none;
}